h4 예약여부
section.options.done
  a(data-value='all').all 전체 
  a(data-value='true').option 완료
  a(data-value='false').option 미완료
  

h4 객실정보
section.options.priority
  a(data-value='all').all 전체
  a(data-value='1').option 개인실
  a(data-value='2').option 다인실
  a(data-value='3').option 집전체
  

h4 지역선택
section.options.category
  a(data-value='all').all 전체
  a(data-value='서울').option 서울
  a(data-value='경기').option 경기
  a(data-value='부산').option 부산
  a(data-value='기타').option 기타
  
